<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>Chuyen Nguyen</author>
	<description>
			Inventory module
	</description>

	<activator>@MODULE_PACKAGE@.InventoryModuleActivator</activator>
	<require_modules>
                  <require_module>org.openmrs.module.hospitalcore</require_module>
    </require_modules>
	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.6.1</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>@MODULE_PACKAGE@.extension.html.InventoryHeader</class>
	</extension>
	
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	<!-- Start Store -->
	<privilege>
		<name>Add/Edit Store</name>
		<description>Allows user to Add/Edit Store</description>
	</privilege>

	<privilege>
		<name>View Store</name>
		<description>Allows user to view Store</description>
	</privilege>
	
	<privilege>
		<name>Delete Store</name>
		<description>Allows user to delete Store</description>
	</privilege>
	
	<!-- End Store -->
	
	<!-- Start Drug -->
	<privilege>
		<name>Add/Edit drug</name>
		<description>Allows user to Add/Edit drug</description>
	</privilege>

	<privilege>
		<name>View drug</name>
		<description>Allows user to view drug</description>
	</privilege>
	
	<!-- End drug -->
	<!-- Start drugCategory -->
	<privilege>
		<name>Add/Edit drugCategory</name>
		<description>Allows user to Add/Edit drugCategory</description>
	</privilege>

	<privilege>
		<name>View drugCategory</name>
		<description>Allows user to view drugCategory</description>
	</privilege>
	
	<!-- End drugCategory -->
	<!-- Start drugFormulation -->
	<privilege>
		<name>Add/Edit drugFormulation</name>
		<description>Allows user to Add/Edit drugFormulation</description>
	</privilege>

	<privilege>
		<name>View drugFormulation</name>
		<description>Allows user to view drugFormulation</description>
	</privilege>
	
	<!-- End drugFormulation -->
	<!-- Start drugUnit -->
	<privilege>
		<name>Add/Edit drugUnit</name>
		<description>Allows user to Add/Edit drugUnit</description>
	</privilege>

	<privilege>
		<name>View drugUnit</name>
		<description>Allows user to view drugUnit</description>
	</privilege>
	
	<!-- End drugUnit -->
	
	<!-- Start item -->
	<privilege>
		<name>Add/Edit Item</name>
		<description>Allows user to Add/Edit Item</description>
	</privilege>

	<privilege>
		<name>View Item</name>
		<description>Allows user to view item</description>
	</privilege>
	
	<!-- End drugUnit -->
	<!-- Start itemCategory -->
	<privilege>
		<name>Add/Edit itemCategory</name>
		<description>Allows user to Add/Edit itemCategory</description>
	</privilege>

	<privilege>
		<name>View itemCategory</name>
		<description>Allows user to view itemCategory</description>
	</privilege>
	
	<!-- End itemCategory -->
	<!-- Start itemSubCategory -->
	<privilege>
		<name>Add/Edit itemSubCategory</name>
		<description>Allows user to Add/Edit itemSubCategory</description>
	</privilege>

	<privilege>
		<name>View itemSubCategory</name>
		<description>Allows user to view itemSubCategory</description>
	</privilege>
	
	<!-- End itemSubCategory -->
	<!-- Start itemSpecification -->
	<privilege>
		<name>Add/Edit itemSpecification</name>
		<description>Allows user to Add/Edit itemSpecification</description>
	</privilege>

	<privilege>
		<name>View itemSpecification</name>
		<description>Allows user to view itemSpecification</description>
	</privilege>
	
	<!-- End itemSpecification -->
	<!-- Start itemUnit -->
	<privilege>
		<name>Add/Edit itemUnit</name>
		<description>Allows user to Add/Edit itemUnit</description>
	</privilege>

	<privilege>
		<name>View itemUnit</name>
		<description>Allows user to view itemUnit</description>
	</privilege>
	
	<!-- End itemUnit -->
	<!-- Start mainstore -->
	<privilege>
		<name>Add/Edit mainstore</name>
		<description>Allows user to Add/Edit mainstore</description>
	</privilege>

	<privilege>
		<name>View mainstore</name>
		<description>Allows user to view mainstore</description>
	</privilege>
	
	<!-- End itemUnit -->
	<!-- Start substore -->
	<privilege>
		<name>Add/Edit substore</name>
		<description>Allows user to Add/Edit substore</description>
	</privilege>

	<privilege>
		<name>View substore</name>
		<description>Allows user to view substore</description>
	</privilege>
	
	<!-- End itemUnit -->
	

	<!-- Required Global Properties -->
	
	<!--<globalProperty>
		<property>@MODULE_ID@.BPL</property>
		<defaultValue>571</defaultValue>
		<description>
			Concept ID of Patient BPL property. Used to determine patient BPL status from Patient Object.
		</description>
	</globalProperty>
	
	
	 
	--><!--Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<mappingFiles>
		InventoryStore.hbm.xml
		InventoryDrug.hbm.xml
		InventoryDrugCategory.hbm.xml
		InventoryDrugFormulation.hbm.xml
		InventoryDrugUnit.hbm.xml
		InventoryItem.hbm.xml
		InventoryItemCategory.hbm.xml
		InventoryItemSpecification.hbm.xml
		InventoryItemSubCategory.hbm.xml
		InventoryItemUnit.hbm.xml
		InventoryStoreDrug.hbm.xml
		InventoryStoreDrugTransaction.hbm.xml
		InventoryStoreDrugTransactionDetail.hbm.xml
		InventoryStoreDrugIndent.hbm.xml
		InventoryStoreDrugIndentDetail.hbm.xml
		InventoryStoreDrugPatient.hbm.xml
		InventoryStoreDrugPatientDetail.hbm.xml
		InventoryStoreItem.hbm.xml
		InventoryStoreItemTransaction.hbm.xml
		InventoryStoreItemTransactionDetail.hbm.xml
		InventoryStoreItemIndent.hbm.xml
		InventoryStoreItemIndentDetail.hbm.xml
		InventoryStoreItemAccount.hbm.xml
		InventoryStoreItemAccountDetail.hbm.xml
		InventoryStoreDrugAccount.hbm.xml
		InventoryStoreDrugAccountDetail.hbm.xml
    </mappingFiles>
</module>

